**/bin/
**/obj/
**/out/
**/TestResults/
**/.git/
**/.github/
**/.vs/
**/.vscode/
**/*.md
**/*.sh
**/*.ps1
tests/
tools/
docs/
assets/
deploy/
docker-compose*.yml
Dockerfile*
*.user
*.suo
.gitignore
.globalconfig
codecov.yml
